
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:#f9f6f1;
}
header{
    width: 100%;
    height: 90px;
    background-color: #1e3932;
    display: flex;
    align-items: center;
}
.wrapper{
    display: none;
}
.wrapper.active{
    display: block;
}
.nameShop{
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.nameShop h2{
    font-size: 30px;
    color: #c6a04f;
    margin-left: -20px;
}
.nameShop img{
    width: 120px;
    height: 100px;
}
.brand{
    font-size: 30px;
    color: black;
}
.navBar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.navBar ul li{
    list-style: none;
    height: 100%;
}
.navBar ul li a{
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: sans-serif;
    transition: transform 0.5s ease;
}
.navBar ul li a:hover{
    color: red;
    transform: translateY(-3px);
}
.cart{
    margin: 0 auto;
}
.cart th , td {
    width: 150px;
    text-align: center;
}
#search{
    position: relative;
}
#search input{
    height: 45px;
}
.icon-search{
    position: absolute;
    font-size: 30px;
   top: 50%;
   right: 0;
  transform: translate(-50%, -50%);
}
.icon-search:hover{
    cursor: pointer;
}
.account-icon{
    font-size: 50px;
    color: white;
}
.product{
    width: 200px;
    height: 290px;
    background-color: #f0ede5;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
      min-width: 200px;
     flex-shrink: 0;
}
.type{
    font-weight: bold;
    color: #8e8e8e;
}
.product-image{
    width: 100%;
    height: 60%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image img{
    width: 60%;
    height: 70%;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
}
.product-image img:hover{
    transform: scale(1.2);
}
.line-Product{
    display: flex;
    gap: 50px; 
    margin: 50px auto; 
    overflow-x: scroll;
    scrollbar-width: none;
    max-width: 950px;
}
.line-Product::-webkit-scrollbar {
    display: none;
}
.infor{
    width: 100%;
    padding-left: 10px;
    line-height: 28px;
    position: relative;
   
}
.price{
    color: #b28a2c;
    font-weight: bold;
    font-size: 17px;
}
.heart{
   position: absolute;
   top: 5px;
   right: 20px;
   font-size: 20px;
    cursor: pointer;
    transition: color 0.4s;
}
.heart.liked{
    color: red;
}
.heart.liked::before{
    font-weight: 900;
    content: "\f004";
}
input[name="add"]{
    background-color:#bfa980; 
    width: 55px;
    border-radius: 10px;
   border: 4px solid #bfa980;
   position: absolute;
   right: 25px;
   top: 85px;
   font-weight: bold;
   color: #1a1a1a;
}
input[name="add"]:hover{
    color: rgb(255, 255, 255);
    transition: 0.3s ease;
    cursor: pointer;
}
 #Show , 
 #Delete,
 #Pay{
    background-color: #1e3932;
    border: solid 4px #1e3932;
    border-radius: 10px;
    width: 120px;
     height: 30px;
     color: white;
     font-weight: bold;
     cursor: pointer;
    transition: transform 0.3s ease ;
 }
 #Show:hover,
 #Delete:hover,
 #Pay:hover{
    transform: translateY(-5px);
    background-color: #122822;
     box-shadow:
   0 0 5px  #FFD700,
    0 0 25px  #FFD700
    0 0 50px  #FFD700,
    0 0 200px  #FFD700;
 }
.Actions{
   width: 368px;
   height: 30px;
   margin: 0 auto;
}
.rightMouse {
   position: absolute;
   right: 200px;
   top: 325px;
  height: 30px;        
  width: 35px;         
  display: flex;       
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.4s ease;
}
.rightMouse:hover{
    background-color: gray;
}
.angleRight{
   font-size: 15px;
}
.leftMouse {
   position: absolute;
   left: 200px;
   top: 325px;
  height: 30px;        
  width: 35px;         
  display: flex;       
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.4s ease;
}
.leftMouse:hover{
    background-color: gray;
}
.angleLeft{
   font-size: 15px;
}
.showProduct{
    width: 900px;
    margin: 0 auto;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.icon-bars{
   font-size: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
     width: 40px;
    height: 40px;

}
.icon-bars:hover{
    background-color: #8e8e8e;
  
}
.bars{
    width: 40px;
    height: 40px;
    position: absolute;
   top: 0px;
   left: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}